<ion-view title="Class" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="class-form4" class="list">
      <label class="item item-input" id="class-input7">
        <span class="input-label">Class Name</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h3 id="class-heading1" style="color:#696969;font-weight:300;">Assigned Students</h3>
    <form id="class-form5" class="list">
      <label class="item item-input" id="class-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="class-list4">
      <ion-checkbox id="class-checkbox1">Mary</ion-checkbox>
      <ion-checkbox id="class-checkbox2">Billy</ion-checkbox>
      <ion-checkbox id="class-checkbox6">Lily</ion-checkbox>
      <ion-checkbox id="class-checkbox5">Mariana</ion-checkbox>
      <ion-checkbox id="class-checkbox4">João</ion-checkbox>
      <ion-checkbox id="class-checkbox3">Mandy</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>