<ion-view title="Home" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <h1>@10Dance</h1>

      <p style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nibh erat, ac facilisis felis vestibulum eu. In nisl velit, tempus in mauris et, aliquet semper arcu. Vestibulum iaculis magna ut libero scelerisque, ut sollicitudin massa
        ultrices. In quis risus sit amet velit eleifend convallis vel in erat. Sed efficitur risus dolor. Nullam rutrum diam neque, vel mattis nisi luctus ac. Nunc sit amet turpis gravida, vestibulum orci sed, blandit nunc. Nulla pellentesque fringilla
        molestie.</p>

      <p style="color:#000000;">Donec lacus massa, lacinia eu ante et, auctor lacinia neque. Suspendisse orci ligula, commodo non nunc sed, tempor maximus dui. Quisque rhoncus magna risus, non cursus justo pulvinar vitae. Donec non vehicula elit. Integer ac dui eget ante interdum
        tempor. Curabitur dictum erat ut felis consequat, ut lobortis ipsum ultricies. Phasellus rhoncus diam non sapien molestie, quis mattis dolor fringilla. Duis et magna pulvinar, facilisis purus a, placerat ante.</p>
    </div>
  </ion-content>
</ion-view>