<ion-view title="Roster" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="roster-list6">
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="roster-toggle4">Jenny</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="roster-toggle6">Mary</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="roster-toggle7">Mariana</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="roster-toggle10">João</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="roster-toggle12">George</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="roster-toggle11">Lily</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="roster-toggle9">Mandy</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>