<ion-view title="Student" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="student-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <form id="student-form2" class="list">
      <label class="item item-input" id="student-input1">
        <input type="text" placeholder="Student's name">
      </label>
      <label class="item item-input" id="student-input6">
        <input type="text" placeholder="Parent's name">
      </label>
      <label class="item item-input" id="student-input3">
        <input type="text" placeholder="Parent's email">
      </label>
      <label class="item item-input" id="student-input2">
        <input type="text" placeholder="Parent's phone">
      </label>
    </form>
  </ion-content>
</ion-view>