<ion-view title="Students" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="students-form1" class="list">
      <label class="item item-input" id="students-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="students-list2">
      <ion-item id="students-list-item12" ui-sref="tabsController.student">Mary</ion-item>
      <ion-item id="students-list-item13" ui-sref="tabsController.student">Jenny</ion-item>
      <ion-item id="students-list-item14">Robson</ion-item>
      <ion-item id="students-list-item28" ui-sref="tabsController.student">Robson</ion-item>
      <ion-item id="students-list-item15" ui-sref="tabsController.student">George</ion-item>
      <ion-item id="students-list-item16" ui-sref="tabsController.student">Arthur</ion-item>
      <ion-item id="students-list-item19" ui-sref="tabsController.student">Mariana</ion-item>
      <ion-item id="students-list-item17" ui-sref="tabsController.student">Giovanni</ion-item>
      <ion-item id="students-list-item18">João</ion-item>
    </ion-list>
  </ion-content>
</ion-view>